@page
@model WebApplication1.Pages.CreateAccountModel
@{
}



<div class="login-box dark-mode">
    <h1 class="dark-mode">Create an Account</h1>
    <form method="POST" runat="server" action="">
        <input type="text" class="dark-mode" placeholder="Username (YCP E-mail)" name="username" id="username">
        <input type="text" class="dark-mode" placeholder="YCP ID#" name="ycpid" id="ycpid">
        <input type="password" class="dark-mode" placeholder="Password" name="password" id="password">
        <input type="password" class="dark-mode" placeholder="Confirm Password" name="confirmPassword" id="confirmPassword">
        <select class="dark-mode" name="usertype" required>
            <option selected disabled hidden>Account Type</option>
            <option value="Customer">Customer</option>
            <option value="Employee">Employee</option>
        </select>
        <div class="login-div">
            <button type="submit" id="login-button">Sign Up</button>
        </div>
        <p class="pt-3">Already have an account? Sign in <a class="d-inline text-light btn-link" asp-page="/Login">here</a></p>
    </form>
</div>