@page
@model IndexModel
@{
    ViewData["Title"] = "DormDash Home";
}


<div class="vertical-center text-center">
    <h1 class="display-4">Welcome to DormDash</h1>
    <p>Hungry? We can help with that. Login or sign up to get the ball rolling.</p>
    <div class="d-inline-flex">
        <div class="col-sm-auto">
            <a class="btn btn-outline-dark" asp-page="/Login">Login</a>
        </div>
        <div class="col-sm-auto">
            <a class="btn btn-outline-dark" asp-page="/CreateAccount">Sign Up</a>
        </div>
    </div>
</div>


