@page
@model LoginModel
@using Microsoft.AspNetCore.Http
@using System;
@{
    string err;
}


@if (((err = HttpContext.Session.GetString("errMessage")) != null))
{
    <div class="error-text">@err</div>
}


<div class="login-box dark-mode">
    <h1 class="dark-mode">Login</h1>
    <form method="POST" action="">
        <input type="email" class="dark-mode" placeholder="Username" id="username" name="username" required>
        <input type="password" class="dark-mode" placeholder="Password" id="password" name="password" minlength="8" required>

        <div class="login-div">
            <button type="submit" id="login-button">Login</button>
        </div>
        <p class="pt-3">New around here? Sign up <a class="d-inline text-light btn-link" asp-page="/CreateAccount">here</a></p>
    </form>
</div>