@page
@model LoginModel
@{
}


<div class="login-box dark-mode">
    <h1 class="dark-mode">Login</h1>
    <form method="POST" action="">
        <input type="text" class="dark-mode" placeholder="Username" id="username" required>
        <input type="password" class="dark-mode" placeholder="Password" id="password" required>

        <div class="login-div">
            <button type="submit" id="login-button">Login</button>
        </div>
        <p class="pt-3">New around here? Sign up <a class="d-inline text-light btn-link" asp-page="/CreateAccount">here</a></p>
    </form>
</div>