@page
@model DormDash.Pages.LogoutModel
@{
}


<div class="login-box dark-mode text-center" style="width:70%;">
    <h1 class="dark-mode text-center display-4" >You are logged out.</h1>
    <h4 class="dark-mode text-center">Thanks for using DormDash!</h4>
    <br />
    <a class="btn btn-outline-success justify-content-center" asp-page="/Login">Log In</a>
    
</div>
