/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}
body {
    background-color: #252525 !important;
    color: white;
}

.vertical-center {
    margin-top:20%;
    padding: 70px 10px;
    border: 3px solid green;
    text-align: center;
}

a.btn.btn-outline-dark{
    color:white!important;
}

.border-bottom {
    border-bottom: none!important;
}
.border-top {
    border-top: none !important;
}
/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn.btn-outline-light:hover{
    color: black!important;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}



.login-box {
    background-color: white;
    width: 50%;
    border-radius: 10px;
    margin: auto;
    margin-top: 50px;
    padding-top: 10px;
    padding-bottom: 30px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, .1);
    transition: 0.5s;
}

@media only screen and (max-width: 768px) {
    .login-box {
        width: 75%;
    }
}

@media only screen and (max-width: 1366px) {
    .login-box {
        width: 50%;
    }
}

.login-box.dark-mode {
    background-color: #2b2b2b;
}

.login-box h1 {
    text-align: center;
    color: #232c3d;
    transition: 0.5s;
}

    .login-box h1.dark-mode {
        color: white;
    }

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
}

input {
    width: 80%;
    margin-bottom: 20px;
    border: none;
    background-color: #f0f5ff;
    border-radius: 10px;
    padding: 10px;
    font-size: 14px;
    transition: 0.5s;
}

    input.dark-mode {
        background-color: #424242;
        color: white;
    }

    input:focus {
        outline: none;
    }

select {
    width: 80%;
    margin-bottom: 20px;
    border: none;
    background-color: #f0f5ff;
    border-radius: 10px;
    padding: 10px;
    font-size: 14px;
    transition: 0.5s;
}

    select.dark-mode {
        background-color: #424242;
        color: white;
    }

    select:focus {
        outline: none;
    }

form button {
    width: 80%;
    border: none;
    background-color: #228B22;
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    transition: 0.5s;
}

    form button.dark-mode {
        background-color: #794bc4;
    }

    form button:hover {
        cursor: pointer;
        background-color: #282828;
    }

    form button.dark-mode:hover {
        background-color: #875ad1;
    }

    form button:focus {
        outline: none;
    }

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-left: 48%;
}

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 34px;
    transition: 0.5s;
}

    .slider::before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        border-radius: 50%;
        transition: 0.5s;
    }

.switch input:checked + .slider {
    background-color: #794bc4;
}


.login-div {
    display:contents;
}


.btn-link{
    text-decoration: underline!important;
}